/*NAVBAR*/
#home .navbar-brand, 
    #chi_siamo .chi_siamo, #chi_siamo .chi_siamo-parco,
    #chi_siamo-storia .chi_siamo, #chi_siamo-storia .chi_siamo-storia,
    #chi_siamo-organi_istituzionali .chi_siamo, #chi_siamo-organi_istituzionali .chi_siamo-organi_istituzionali,
    #chi_siamo-regole .chi_siamo, #chi_siamo-regole .chi_siamo-regole,
    #sentieri .sentieri, #sentiero .sentieri,
    #easy .sentieri, #easy .sentieri_facili,
    #moderate .sentieri, #moderate .sentieri_moderati,
    #challenging .sentieri, #challenging .sentieri_impegnativi,
    #difficult .sentieri, #difficult .sentieri_difficili,
    #very_difficult .sentieri, #very_difficult .sentieri_molto_difficili,
    #extreme .sentieri, #extreme .sentieri_estremi,
    #rifugi .rifugi, #rifugio .rifugi{
    color:white;
}
body {
    background-color: #e6e6ff;
    font-family: sans-serif; 
}

.navbar-inverse {
    background-color: #2c2c2c;
    border: transparent;
}

.navbar{
    border-radius: 0em;
}

#sfondo img {
    width:100%; 
    margin-top: 3.6em;
}

/**/

@media screen and (max-width:768px) {
    .navbar-brand-max {
        display: none;
    }
}

@media screen and (min-width:768px) {
    
    .navbar-brand-min {
        display:none;    }

    .dropdown:hover .dropdown-menu {
        display: block;
        padding: 0px;
    }
}

.navbar-inverse .navbar-nav>.open>a {
    background-color: #2c2c2c;

}

ul .dropdown-menu li a {
    color:#9d9d9d;
    text-align:center;
}

ul .dropdown-menu {
    min-width: 13em;
    max-height: inherit;
    background: #2c2c2c;
    border: transparent;
    padding: 5px
}

.navbar-inverse .navbar-nav li a.dropdown-toggle:focus {
        background-color: #2c2c2c;
        color: white;
}
ul .dropdown-menu li a:hover {
        background-color: #2c2c2c;
        color: white;
}

/*CAROUSEL */

.carousel-inner>.item>a>img, .carousel-inner>.item>img {
    width:100%;
}
/*FOOTER*/

footer {
	background:#e6e6ff;
}
footer #collapseOne .row {
    padding-top:0;
}
footer .panel-body {
    background-color: #707070;
}
footer h2 {
    color:white;
    font-weight: bold;
}

footer .panel {
	box-shadow: none;
}
.collapse-footer {}
.collapse-footer p {
	font-size:14px;
	line-height:normal;
}
.collapse-footer .panel {
	background:none;
	background-color:transparent;
	border-radius:0;
	margin-bottom:0;
	border: none;
}
.collapse-footer .panel-heading {
	background-color:#707070;
	color:#231f20;
	border-radius:0;
}
.collapse-footer .nav-footer {
	padding:0;
	color:#312424;
	margin-left: 0;
}
.collapse-footer .nav-footer li {
	list-style:none;
}
.collapse-footer h5.title {
	border-bottom:1px #c4c4c4 solid;
	padding-bottom:0;
	font-size:18px;
	font-weight:bold;
	padding-bottom:6px;
	margin-top:4px;
	margin-bottom:4px;
}
.collapse-footer h5.title span {
	border-bottom:3px #312424 solid;
	bottom:1px;
	padding-bottom:4px;
}
.collapse-footer .col-lg-6 .nav-footer li {
	width:45%;
	margin-right:5%;
	float:left;
}
.collapse-footer .nav-footer li {
	
}
.collapse-footer .nav-footer li a {
	color:#312424;
	font-size:14px;
	line-height:18px;
	padding:5px 0;
	display:inherit;
}
.collapse-footer .nav-footer li a:hover  {
	background:none;
	background-color:transparent;
	color:#000;
}



/*footer Subscribe*/
#subscribe {
    float: right;
    margin-top: 9px;
    width: 250px;
}

.subscribe {
    width: 100%;
    position: relative;
    float: left;
    line-height: 22px;
	border:1px #312424 solid;
	border-radius:3px;
	padding:3px;
}

.subscribe button.btn {
	float:right;
	z-index:999;
	position:relative;
	background-color:#312424;
	border:none;
	box-shadow:none !important;
	text-shadow:none;
}
.subscribe input[type="text"] {
	position: absolute;
	width: 65%;
	float: Left;
	margin-left: 0;
	height: 30px;
	line-height: 18px;
	padding: 0 2px 0 26px;
	border-radius:1px;
	border:none;
	box-shadow:none !important;
	text-shadow:none;
	z-index:0;
	background:none;
	background-color:transparent;
	background-position:8px 10px;
	background-repeat:no-repeat;
}

.subscribe:hover input, .subscribe input:focus {
	width: 100%;
	margin-left: 0px;
}

/*Copyrights CSS*/
.copyright{background:#2c2c2c; padding:0 20px; color:#e6e6ff; font-size:12px;}
.copyright-img{padding:20px 0;}

/* ICONE */
footer img {
    width: 19%;
    height: 19%;
    margin: 0.4em;
}

/* TITOLO */

div.page-header {
	border: 0px solid transparent;
    position:relative;
    color:black;
    margin:auto;
    text-align: center;
}

.page-header h1 {
    font-weight: bold;
    color: #2c2c2c;
}

.line {
    border: 1.5px solid #2c2c2c;
    width: 180px;
    height: 0px;
    margin:auto;
}

/* METEO */

.row {
    width:100%;
    margin:0;
}

@media screen and (min-width:768px){
    
    .meteo {
        background-color:white;
        width:35em;
        margin-left:3em;
        margin-bottom:3em;
        margin-top:2em;
    }
    
    .meteo-min {
        display: none;
    }
}

@media screen and (max-width:768px){
    .meteo {
        display:none;
    }
    
    .meteo-min {
        width: 80%;
        margin-left: 10%;
    }
}

/* Descrizione parco */

@media screen and (min-width:768px){
    #home .panel-default {
        position: relative;
        width:40%;

    }
}
#home .panel-default {
    margin-top:2em;
}

.panel-default{
    border-color: #2c2c2c;
    margin: 2em;

}

h4 {
    color: #2c2c2c;
}

/* CHI SIAMO */

h3 {
    color: #2c2c2c;
}

p {
    color: #2c2c2c;
}

@media screen and (min-width:768px){
    #chi_siamo img.col-md-4 {
        width: 25em;
        margin-top: 3em;
    }
    
    #chi_siamo-storia img.col-md-4 {
        width: 25em;
    }
}

@media screen and (max-width:768px) {
    #chi_siamo img.col-md-4, #chi_siamo-storia img.col-md-4 {
        width: 100%;
    }
}

/* IMAGE MODAL */

#myImg {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

#myImg:hover {opacity: 0.7;}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

/* Caption of Modal Image */
#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

/* Add Animation */
.modal-content, #caption {
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)}
    to {-webkit-transform:scale(1)}
}

@keyframes zoom {
    from {transform:scale(0)}
    to {transform:scale(1)}
}

/* The Close Button */
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
    .modal-content {
        width: 100%;
    }
}

.scroll a {
    padding-top: 6em;
    margin-top: -6em;
    display: inline-block;
}

a:hover, a:hover {
    text-decoration: none;
}

/* contact chips */
.chip {
    display: inline-block;
    padding: 0 25px;
    height: 50px;
    font-size: 16px;
    line-height: 50px;
    border-radius: 25px;
    background-color: #e6e6ff;
}

.chip img {
    margin: 0 10px 0 -25px;
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

/* Fotografie */
@media screen and (min-width:768px){
    #chi_siamo img.img-responsive {
        width: 25em;
        height: 14em;
    }
}

@media screen and (max-width:768px){
    #chi_siamo img.img-responsive {
        width: 100%;
    }
}

#chi_siamo img.img-responsive {
    filter: gray; /* IE6-9 */
    -webkit-filter: grayscale(1); /* Google Chrome, Safari 6+ & Opera 15+ */
    -webkit-box-shadow: 0px 2px 6px 2px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 2px 6px 2px rgba(0,0,0,0.75);
    box-shadow: 0px 2px 6px 2px rgba(0,0,0,0.75);
    margin-bottom:20px;
    margin-top:20px;
}

#chi_siamo img.img-responsive:hover {
  filter: none; /* IE6-9 */
  -webkit-filter: grayscale(0); /* Google Chrome, Safari 6+ & Opera 15+ */
 
}

/* Chi siamo - regole */
@media screen and (min-width:768px){
    #chi_siamo-regole .panel-default{
        width:50%; 
        margin-left:25%;
    }
}

/* CONTAINER ICONE */
.box {
    min-height: 25em;
}

.container .row {
    padding-top: 3em; 
}

.box .icon {
    text-align: center; 
    position: relative; 
}

.box .icon .image, .box .icon .cerchio { 
    position: relative; 
    z-index: 2; 
    margin: auto; 
    width: 120px; 
    height: 120px; 
    border: 2px solid black; 
    line-height: 88px; 
    border-radius: 50%; 
    background: #2c2c2c; 
    vertical-align: middle; 
}

.promozioni .icon .image {
    background-color: #2c2c2c;
    border: 2px solid white;
}

.box .icon:hover .image { 
    background: #666; 
}

.box .icon .image img, .box .icon .cerchio img { 
    width:80px;
    height:80px;
    top:13px;
    position: relative;
}

.box .icon .info { 
    margin-top: -24px; 
    border: 1px solid transparent; 
    padding: 15px 0 10px 0; 
}


.box .icon .info h2 { 
    color: #2c2c2c; 
}

.box .icon .info p { 
    color: #2c2c2c; 
}

body .box .icon:hover .info h2, .box .icon:hover .info p { 
    font-weight: bold;
    color:#666;
}

.box .icon .descrizione {
    color:#2c2c2c;
    font-weight: bold;
}

/* SENTIERI e RIFUGI*/
.products h4{
	font-weight: 600;
    text-align: center;
    color: #2c2c2c;
}
.products h5 {
    margin-left: 1em;
    color: #2c2c2c;
    margin-left: 1em;
}
.products p{
	font-size: 12px;
	margin-top: 5px;
    margin-left: 1em;
    color: #2c2c2c;
}
.products .ratings{
    text-align: center;
}

.products .right{
	float:right;
	border-bottom: 2px solid #4B8E4B;
}
.products .thumbnail{
	opacity:0.70;
    border-color: #2c2c2c;
	-webkit-transition: all 0.5s; 
	transition: all 0.5s;
}
.products .thumbnail:hover{
	opacity:1.00;
	box-shadow: 0px 0px 10px darkgreen;
}
.products .line{
    margin-top:1em;
	margin-bottom: 1em;
}
@media screen and (max-width: 770px) {
	.products .right{
		float:left;
		width: 100%;
	}
}

.products .btn {
    margin: 8px; 
}

.products .thumbnail img {
    height: 16em;
}

.glyphicon {
    color: #2c2c2c;
}

/* RIFUGIO e SENTIERO */
.nav-tabs {
    margin-left: 3em;
    margin-right: 3em;
}

.tab-content {
    background-color: white;
    padding-top: 2em;
    padding-bottom: 3em;
    padding-left: 2em;
    margin-right: 3em;
    margin-left: 3em; 
}

.nav-tabs li a {
    color: #2c2c2c;
    font-weight: bold;
}

#rifugio .page-header, #sentiero .page-header{
    margin-top: 5em;
}

#rifugio h3, #sentiero h3{
    padding-bottom: 1em;
}

@media screen and (max-width:768px){
    #rifugio #home .immagine img, #sentiero #home .immagine img,
        #sentiero #home .immagine img, #sentiero #home .immagine img{
        width: 100%;
        border: 3px solid #e6e6ff;
    }
    #rifugio .tab-content, #sentiero .tab-content {
        padding:1em;;
    }
    #rifugio .informazioni, #sentiero .informazioni {
        display:none;
    }
    #basicMap {
        width: 100%;
        height: 15em;
    }
}

@media screen and (min-width:768px){
    #rifugio #home .immagine img, #sentiero #home .immagine img,
        #sentiero #home .immagine img, #sentiero #home .immagine img{
        position:absolute;
        width: 30em;
        height: 23em;
        border: 3px solid #e6e6ff;
    }
    
    .indirizzo {
        width:100%
    }
    
    #basicMap {
                width: 85em;
                height: 30em;
                margin-right: 0px;
            }
}

.descrizione {
    margin-left: 1em;
    margin-right: 1em;
}

.informazioni {
    width:40%;
    position: relative;
    left: 35em;
    height: 25em;
}


/* Galleria fotografica */
.hide-bullets {
list-style:none;
margin-left: -40px;
margin-top:20px;
}

/* FORM */
#form container .panel-heading {
    background-color: #2c2c2c;
    color: white;
}
    
#form {
    background-image: url(/img/background-form.jpg); 
    background-repeat: no-repeat;
    background-size: cover;
}

#form footer{
    background:none;
}

@import url(https://fonts.googleapis.com/css?family=Lobster);
/*panel heading*/
#form .panel-heading h1 {
    text-align:center;
    font-size: 28px;
}
/*panel align center*/
#form .col-centered{
    float: none;
    margin: 0 auto;
    padding-top:5px;
}
/*property for the bootstrap panel*/
#form .panel  {
-webkit-box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.3);
-moz-box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.3);
box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.3);
}

#form .panel-default > .panel-heading {
  color: #000 !important;
  background: #80bfff; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left top, #80bfff, #ffffff); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(bottom right, #80bfff, #ffffff); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(bottom right, #80bfff, #ffffff); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to bottom right, #80bfff, #ffffff); /* Standard syntax */
  border-color: #99ccff !important;
  height:80px;
}

/*property for the HTML input placeholder*/
#form input:focus::-webkit-input-placeholder { color:transparent; }
#form input:focus:-moz-placeholder { color:transparent; } /* FF 4-18 */
#form input:focus::-moz-placeholder { color:transparent; } /* FF 19+ */
#form input:focus::-moz-placeholder { color:transparent; } /* FF 19+ */
#form input:focus:-ms-input-placeholder { color:transparent; } /* IE 10+ */

/*property for reset button*/
#form button[type="reset"]    {
    background-color:transparent;
    border:1px solid black;
}
